name: Android CI

on:
  push:
    tags:
      - 'm*.*.*'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x ./OneSignalSDK/gradlew
      - name: Build with Gradle
        run: ./OneSignalSDK/gradlew build
      - name: Deploy to jfrog
        env:
          jfrogUser: ${{ secrets.jfrog_user }}
          jfrogToken: ${{ secrets.jfrog_token }}
        run: ./OneSignalSDK/gradlew onesignal:assembleRelease onesignal:artifactoryPublish